/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dhurjati&family=Poppins:wght@300;600&display=swap');

:root{
    --backco:rgb(234, 234, 234);
    --navcolor:rgb(204, 231, 255) ;
    --sq1: rgb(57, 35, 223);
    --butten: rgb(0, 234, 255) ;
    --sq2: rgb(241, 241, 241);
    --txtco: rgb(119, 0, 230);
    --nava: rgb(57, 35, 223);
    --navh: rgb(51, 0, 255);
    --navab:rgb(72, 240, 255) ;
    --con:rgb(72, 240, 255);
    --pat: white;
    --ft:#00CCCC;
    --my:greenyellow;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--backco);
}

.line{
    background-color: gray;
    height: 6px;
    /* width: 100%; */
    /* margin-top: 16vh; */
}
header{
    position: sticky;
    top: 1;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: var(--navcolor);
    height: 60px;
    color: var(--wc);
}
.logo{
    font-size: 30px;
    font-family: 'Dhurjati', sans-serif;
    cursor: default;
}
.linksp > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.linksp ul li{
    margin-right: 22px;
}
.linksp > ul li a{
    text-decoration: none;
    font-size: 18px;
}
.linksp > ul li a:link{
    color: var(--nava);
    font-weight: 300;
}
.linksp > ul li a:visited{
    color: var(--nava);
    font-weight: 300;
    }
    .linksp > ul li a:hover{
        color: var(--navh);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        background-color: var(--navab);
        border-radius: 20px;
    }



    .main{
        margin-top: 36px;
        display: grid;
        grid-template-areas: "txt photo";
        justify-items: center;
        align-items: center;
        gap: 20px;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
.photo {
    grid-area: photo;
    position: relative;
    display: grid;
    grid-template-areas: "img";
    justify-items: center;
    align-items: center;
}
.sq1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--sq1);
    /* top: 11vh;
    right: 7vh; */
    border-radius: 20px;
    z-index: 1;
    transform: rotate(31deg);
    grid-area: img;
    
}
.sq2{
    box-shadow:inset 2px 2px 30px 0px var(--sq1);
    width: 265px;
    height: 265px;
    background-color: var(--sq2);
    position: relative;
    grid-area: img;
    /* top: -20vh;
    right: 4.5vh; */
    border-radius: 20px;
    z-index: 10;
    transform: rotate(31deg);
}
.image{
    position: relative;
    grid-area: img;
    z-index: 10;
    top: -5px;
    rotate: -1deg;
    right: -20px;
}
.content{
    width: 40vh;
    margin: auto;
}

.content div{
    display: block;
    margin-left: 8vh;
    top: 3px;
    grid-area: txt;
    

}
.txt > span{
    display: block;
    font-size: 56px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.txt  pre{
    font-size: 30px;
    font-family: 'Baloo Bhai 2', sans-serif;
    line-height: 37px;
    cursor: default;
}
.txt pre > span{
    color: var(--txtco);
    cursor: default;
}
.txt button{
    margin-top: 28px;
    padding: 3px 10px;
    border-radius: 18px;
    margin-left: 18px;
    box-shadow: none;
    background-color: var(--butten);
    font-family: 'Baloo Bhai 2', sans-serif;
    text-align: center;
    color: var(--wc);
    border: 2px solid gray;
    text-align: center;
}
.txt button a {
    font-family: 'Baloo Bhai 2', sans-serif;
    text-decoration: none;
    color: var(--wc);
}
.txt button a:link{
    color: var(--wc);
    font-weight: 300;
}
.txt button a:visited{
    color: var(--wc);
    font-weight: 300;
    }
.txt button:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


#svg{
    width: 30px;
    cursor: pointer;
}
#About{
    display: grid;
    grid-template-areas: "y";
    /* justify-content: center; */
}
.path{
    position: relative;
    grid-area: y;
    top: 4px;
    left: 49vw;
    height: 150vh;
    border-radius: 2px;
    width: 8px;
    background-color: var(--pat);
}
.progress{
    width: 8px;
    height: 26vh;
    position: relative;
    top: -4px;
    background-color: var(--sq1);
    border-radius: 8px;
}
.rou{
    position: relative;
    grid-area: y;
    top: -2px;
    left: -11px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--sq1);
}
.aboutme{
    grid-area: y;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* align-content: center; */
}
.y2023{
    /* position: relative; */
    margin-left: 5vw;
    align-self:self-start;
    /* width: 30vw;
    height: 30vh; */
    background-color: var(--con);
    color: var(--wc);
    border-radius: 30px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
}
.y2024{
    /* position: relative; */
    /* justify-self: right; */
    align-self:self-end;
    margin-right: 6vw;
    /* right: -20; */
    /* width: 30vw;
    height: 30vh; */
    background-color: var(--con);
    color: var(--wc);
    border-radius: 30px;
    
}
.aboutme div{
    text-align: center;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    cursor: default;

}
.aboutme div :hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.aboutme div table span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.y2025{
    /* position: relative; */
    margin-left: 8vw;
    align-self:self-start;
    /* width: 30vw;
    height: 30vh; */
    background-color: var(--con);
    color: var(--wc);
    border-radius: 30px;
}
.y2026{
    /* position: relative; */
    align-self:self-end;
    margin-right: 10vw;
    /* width: 30vw;
    height: 30vh; */
    background-color: var(--con);
    color: var(--wc);
    border-radius: 30px;
}
.y2027{
    /* position: relative; */
    margin-left: 11vw;
    align-self:self-start;
    
    background-color: var(--con);
    color: var(--wc);
    border-radius: 30px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ft);
    
}
.last{
    width: 30vw;
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    background-color: var(--my);
    border-radius: 35px;
    /* position: relative; */
    /* z-index: 3; */
}
.last > pre span{
    text-align: center;
    display: flex;
    align-items: center;
}


.black{
    --navcolor: #00CCCC;
    --sq1: rgb(183, 0, 255);
    --sq2: #141e30;
    --butten: #00CCCC ;
    --nava: white;
    --navh: rgb(71, 71, 71);
    --navab:rgb(108, 255, 255);
    --txtco: blueviolet;
    --wc: white;
    --con:rgb(57, 14, 98);
    --ft:#722b80;
    --my:rgb(108, 255, 226);
}

body{
    background-color: var(--sq2);
}
.txt{
    color: var(--wc);
}




/* @media (prefers-color-scheme:dark){
:root{
    --navcolor: #00CCCC;
    --sq1: rgb(183, 0, 255);
    --sq2: #141e30;
    --butten: #00CCCC ;
    --nava: white;
    --navh: rgb(71, 71, 71);
    --navab:rgb(108, 255, 255);
    --txtco: blueviolet;
}
nav{
    color: white;
}
body{
    background-color: #141e30;
}
.txt{
    color: white;
}
.txt > button{
    color: white
}
} */


@media screen and (max-width:1500px){
    
    .content div {
        margin-left: 2vh;
    }
    #About{
        /* width: 100%; */
        /* justify-content: center; */
        align-content: center;
    }
    .aboutme{
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }
    .aboutme div{
        width: 70vw;
        height: 30vh;
    }
    .y2023{
        margin: 0px;
        align-self: self-start;
    }
    .y2024{
        margin: 0px;
        align-self: self-start;
    }
    .y2025{
        margin: 0px;
        align-self: self-start;
    }
    .y2026{
        margin: 0px;
        align-self: self-start;
    }
    .y2027{
        margin: 0px;
        align-self: self-start;
    }
    .path{
        top: 20px;
        left: 10vw;
        height: 150vh;
        border-radius: 2px;
        width: 6px;
    }
    .progress{
        width: 6px;
        height: 20vh;
        top: -4px;
        border-radius: 6px;
    }
    .rou{
        top: -2px;
        left: -11px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
    }
    @media screen and (max-width:1080px) {
        nav{
            margin: auto;
            /* position: sticky; */
            width: 85vw;
            border-radius: 22px;
            /* top: 1px; */
        }
        .linksp ul li{
            margin-right: 10px;
        }
        .linksp > ul li a{
            text-decoration: none;
            font-size: 12px;
        }
        .main{
            display: flex;
            flex-direction: column-reverse;
            gap: 100px;
            margin-top: 14vh;
            justify-content: center;
            align-items: center;
        }
        #svg{
            width: 20px;
        }
        .content{
            width: 30vh;
            padding: 17px;
            margin: auto;
        }
        .content div {
            margin-left: 0vh;
        }
        .last{
            width: 300px;
        }

    }
}

@media screen and (max-width:550px){
    .photo{
        /* visibility: hidden; */
        display: none;
    }
    .content{
        width: 80vw;
        /* padding: 17px; */
        margin: auto;
    }
    .aboutme div{
        width: 85vw;
        height: 16vh;
        font-size: 12px;
    }
    .aboutme div table span{
        font-family: 'Courier New', Courier, monospace;
        font-size: 8px;
    }
    .path{
        top: 20px;
        left: 2vw;
        height: 80vh;
        border-radius: 1px;
        width: 4px;
    }
    .progress{
        width: 4px;
        height: 10vh;
        top: -4px;
        border-radius: 1px;
    }
    .rou{
        top: -2px;
        left: -6px;
        width: 18px;
        height: 18px;
        border-radius: 10px;
    }
  
}
